#powerDBsourceCode, #linkedinLink, #githubLink, #phoneNumber, #email:link
{
   color: #ff0077;
   text-decoration: none;
}
#powerDBsourceCode, #linkedinLink, #githubLink, #phoneNumber, #email:visited
{
   color: #ff0077;
   text-decoration: none;
}
#powerDBsourceCode, #linkedinLink, #githubLink, #phoneNumber, #email:hover
{
   color: #ff0077;
   text-decoration: none;
}
#powerDBsourceCode, #linkedinLink, #githubLink, #phoneNumber, #email:active
{
   color: #ff0077;
   text-decoration: none;
}